:root {
  --backgroud-color: #282c34;
  --header-color: #e5e5e5;
  --text-color: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-color);
  background-color: var(--backgroud-color);
}

section {
  padding: 10px;
}

.to-do-checkbox {
  margin-right: 8px;
}

.to-do-checkbox:checked + label {
  text-decoration: line-through;
}

.to-do-icon {
  width: 16px;
  margin-left: 8px;
}
